/* .bgred{
    background-color: red !important;
}
.bgcyan{
    background-color: cyan !important;
}
.test-height{
    height: 250px !important;
}
.bglightgray{
    background-color: lightgray;
} */
.title{
    text-align: left;
    text-transform: uppercase;
    margin: 25px;
}
.row{
    margin-top: 8px;
    margin-bottom: 8px;
    /* height: 100px; */
}
#notification{
    color: red;
}
.container{
    width: 560px;
    display: table;
}
.btn{
    padding-left: 15px !important;
}
@media (min-width: 768px){
    .equal{
        height: 40px;
    }
}