/* .bgred{
    background-color: red !important;
}
.bgcyan{
    background-color: cyan !important;
}
.test-height{
    height: 250px !important;
}
.bglightgray{
    background-color: lightgray;
} */
.title{
    text-align: left;
    text-transform: uppercase;
    margin: 25px;
}
